
@{
    ViewBag.Title = "Index";
}

<div id="modalSubirExcel" class="modal fade in" data-backdrop="static" data-keyboard="false" tabindex="-1" style="overflow-y: scroll;" role="dialog">
    <div class="modal-dialog mw-100 w-90" style="width: 50%;">
        <div class="modal-content">
            <form onsubmit="subirExcel(event)">

                <div class="modal-header">
                    <h4 class="modal-title">Subir Archivo Excel</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label" for="archivo"> Archivo </label>
                                <input type="file" name="archivo" class="form-control" />
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"> Subir Archivo </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"> Cancelar </button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="modalCrearEditar" class="modal fade in" data-backdrop="static" data-keyboard="false" tabindex="-1" style="overflow-y: scroll;" role="dialog">
    <div class="modal-dialog mw-100 w-90" style="width: 90%;">
        <div class="modal-content">
            <form onsubmit="guardar(event)">

                <div class="modal-header">
                    <h4 class="modal-title">Crear/Editar</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label" for="nombre"> nombre </label>
                                <input type="text" onkeyup="categoria[this.name] = this.value" name="nombre" class="form-control" autocomplete="off" />
                            </div>
                        </div>

                    </div> <!-- Fin <div class="row"> -->

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"> Guardar </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"> Cancelar </button>
                </div>
            </form>

        </div>
    </div>
</div>

<div>

    <br />
    <button name="crear" onclick="crearNuevo(); $('#modalCrearEditar').modal('show')" class="btn btn-success"> <span>+</span> Agregar Nueva Categoría </button>
    <button name="crear" onclick="$('#modalSubirExcel').modal('show')" class="btn btn-primary"> Subir Excel </button>

    <br />

    <br /><br />
    <!-- Filtro busqueda -->

    <div id="filtro-busqueda" class="row">
        <div class="col-md-4">
            <div class="form-group">

                <label class="control-label" for="nombre"> nombre </label>
                <input nombre="nombre" onkeyup="resetearPaginacion(); obtenerListaPrincipal()" type="text" class="form-control" />

            </div>
        </div>
    </div>

    <!-- Fin filtro busqueda -->

    <br />
    <h4> Listado de Categoria </h4>

    <br />

    <div id="nav_paginacion" style="display: none">
        <div class="row">
            <div class="col-md-1">
                <button onclick="paginaActual = paginaActual - 1; obtenerListaPrincipal()" type="button" class="btn_pagina_anterior btn btn-default">
                    <span> < </span> Anterior
                </button>
            </div>
            <div class="col-md-1">
                <button onclick="paginaActual = paginaActual + 1; obtenerListaPrincipal()" type="button" class="btn_pagina_siguiente btn btn-default">
                    Siguiente <span> > </span>
                </button>
            </div>
        </div>
    </div>

    <br />

    <div class="table-responsive">
        <table id="tablaPrincipal" class="table table-bordered">
            <thead>
                <tr>
                    <th> Id </th>
                    <th> Nombre </th>
                    <th> </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script>

    let operacion = "";         // La primera operacion es listar
    let categoria = {};
    let paginaActual = 0;       // Paginación
    let totalPaginas = 0;       // Paginación

    document.addEventListener("DOMContentLoaded", () =>  // Al cargar la pagina
    {
        obtenerListaPrincipal();
    });

    const obtenerConsultaBuscador = () =>
    {
        var consulta = {};
        var filtroBusqueda = document.getElementById("filtro-busqueda");

        if (filtroBusqueda != null)
        {
            Array.from(filtroBusqueda.querySelectorAll("input, select"))
            .filter(c => c.getAttribute("nombre") != null && !["", null].includes(c.value))  // Filtra por nombre y value no nulos
            .forEach(c => consulta[c.getAttribute("nombre")] = c.value);
        }

        return consulta;
    }

    const obtenerListaPrincipal = async () =>  // Obtener lista de Categorias
    {
        var registrosPorPagina = 10;
        var inicio = paginaActual * registrosPorPagina;

        var consulta = obtenerConsultaBuscador();
        consulta.start = inicio;                 // Datos para paginacion
        consulta.length = registrosPorPagina;    // Datos para paginacion

        var parametros = Object.entries(consulta).map(c => c.join("=")).join("&");

        mostrarLoadingSpinner();

        await fetch("@Url.Action("LlenarDataTable", "Categoria")?" + parametros, { method: "GET" })
        .then(response =>
        {
            if (response.ok)
            {
                response.json().then(res =>
                {
                    totalPaginas = Math.ceil(parseInt(res.recordsTotal) / registrosPorPagina) - 1;

                    var navPaginacion = document.querySelector("#nav_paginacion");

                    if (totalPaginas > 0) {
                        // Habilitar o desabilitar botones de navegacion para la paginacion
                        navPaginacion.style.display = "block";
                        navPaginacion.querySelector(".btn_pagina_anterior").disabled = (paginaActual == 0);
                        navPaginacion.querySelector(".btn_pagina_siguiente").disabled = (paginaActual >= totalPaginas);
                    }
                    else {
                        navPaginacion.style.display = "none";
                    }

                    var tabla = document.querySelector("#tablaPrincipal tbody");
                    tabla.innerHTML = "";   // Limpia la tabla

                    res.data.reverse().forEach((c, index) => {
                        var fila = tabla.insertRow(0);
                        fila.insertCell(0).innerHTML = c.categoriaId;
                        fila.insertCell(1).innerHTML = c.nombre;
                        fila.insertCell(2).innerHTML = "<a href='' onclick='editar(event, " + c.categoriaId + ")'> Editar </a>";
                        fila.insertCell(3).innerHTML = "<a href='javascript:;' onclick='eliminar(" + c.categoriaId + ")'> Eliminar </a>";

                    });
                });
            }
        })
        .catch(error => alert(error))
        .finally(c => ocultarLoadingSpinner());
    }

    const resetearPaginacion = () => {
        paginaActual = 0;
        totalPaginas = 0;
    }

    const construirObjeto = () =>  // Colocar los valores del objeto de tipo Categoria en el html
    {
        var formCrearEditar = document.querySelector("#modalCrearEditar form");

        Object.entries(categoria).filter(([, valorAtributo]) => !Array.isArray(valorAtributo))
        .forEach(([nombreAtributo, valorAtributo]) =>
        {
            var elementoHTML = formCrearEditar.querySelector(`[name="${nombreAtributo}"]`);

            if (elementoHTML != null)
                elementoHTML.value = valorAtributo;  // Coloca los valores del objeto en cada elemento del form
        });
    }

    const crearNuevo = () =>  // Iniciar creación de nueva Categoria
    {
        categoria = {
            nombre: ""
        };

        operacion = "crear";
        construirObjeto();
    }

    const guardar = async (evento) =>  // Guardar y Actualizar Categoria
    {
        evento.preventDefault();
        mostrarLoadingSpinner();

        await fetch("@Url.Action("Guardar", "Categoria")", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(categoria)
        })
        .then(response =>
        {
            if (response.ok)
            {
                response.json().then(data =>
                {
                    if (data.status == 200)
                    {
                        obtenerListaPrincipal();               // Se actualiza la lista de Categorias
                        $("#modalCrearEditar").modal("hide");  // Cierra el modal
                    }
                    else {
                        alert( Array.from(data.errores, c => c.error).join(". \n") );
                    }
                });
            }
        })
        .catch(error => alert(error))
        .finally(c => ocultarLoadingSpinner());
    }

    const editar = async (evento, id) =>  // Obtener Categoria por su id
    {
        evento.preventDefault();
        mostrarLoadingSpinner();

        await fetch("@Url.Action("BuscarPorId", "Categoria")/" + id, { method: "GET" })
        .then(response =>
        {
            if (response.ok)
            {
                response.json().then(data =>
                {
                    operacion = "editar";
                    categoria = data;

                    construirObjeto();
                    $("#modalCrearEditar").modal("show");
                });
            }
        })
        .catch(error => alert(error))
        .finally(c => ocultarLoadingSpinner());
    }

    const eliminar = async (id) =>  // Eliminar Categoria por su id
    {
        var opcionConfirm = confirm("Desea realmente eliminar este registro");

        if (opcionConfirm == true)
        {
            mostrarLoadingSpinner();

            await fetch("@Url.Action("Eliminar", "Categoria")", {
                body: `id=${id}`,
                headers: { "Content-Type": "application/x-www-form-urlencoded" },
                method: "POST"
            })
            .then(response =>
            {
                if (response.ok) {
                    obtenerListaPrincipal();  // Se actualiza la lista de Categorias
                }
            })
            .catch(error => alert(error))
            .finally(c => ocultarLoadingSpinner());
        }
    }

    const subirExcel = async (evento) =>
    {
        evento.preventDefault();
        mostrarLoadingSpinner();

        let form = evento.target;           // document.querySelector("#modalSubirExcel form");
        let formData = new FormData(form);

        await fetch("@Url.Action("ImportarExcel", "Categoria")", { body: formData, method: "POST" })
        .then(response =>
        {
            if (response.ok)
            {
                response.json().then(data =>
                {
                    if (data.status == 200) {
                        alert("Operación realizada con exito");
                        obtenerListaPrincipal();
                        $("#modalSubirExcel").modal("hide");
                    }
                    else
                        alert(data.error);
                });
            }
        })
        .catch(error => alert("Se encontro un error"))
        .finally(c => ocultarLoadingSpinner());
    };

</script>


